.section-program-today {
  margin-top: 90px;
  @include screen(phone) {
    margin-top: 70px;
  }
}

.section-program-all {
  .program-description {
    margin-top: 15px;
    line-height: 2;
  }
}

.section-program-today,
.section-program-all {
  .cards-wrapper {
    margin-top: 15px;
  }
}
