.section-program-all {
  .program-description {
    margin-top: 15px;
    line-height: 2;
  }
}

.section-program-today,
.section-program-all {
  .cards-wrapper {
    margin-top: 15px;
  }
}
